* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque';
  font-size: 40px;
  color: rgb(228, 228, 228);
  background-color: rgb(15, 15, 15);
  background-image: url('images/homepage.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P';
  padding: 10px;
}

h1 {
  font-size: 80px;
  font-family: 'Press Start 2P';
  padding: 25px;
  margin: 50px;
  text-shadow: 2px 2px rgb(206, 206, 206);
  color: rgb(83, 213, 66);
}

.games {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}

a {
  color: rgb(83, 213, 66);
  font-family: 'Darker Grotesque';
  text-decoration: none;

  border: 2px solid rgb(83, 213, 66);
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
}

a:hover {
  color: rgb(15, 15, 15);
  background-color: rgb(83, 213, 66);
}

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden !important;
  }
  h1 {
    font-size: 50px;
    padding: 1vh;
  }

  body {
    background-size: 180%;
  }

  a {
    padding: 10px;
    font-size: 30px;
  }
}