* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Darker Grotesque'; 
  font-size: 40px;
  color: rgb(228, 228, 228);
  background-color: rgb(15, 15, 15);
  padding: 16px;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P';
  padding: 10px;
}
h1 {
  background: white;
  color: transparent; 
  font-family: 'Press Start 2P';
  padding: 10px;
  margin: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(38, 5, 255, 0.98);
}

.games {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

a {
  color: rgb(0, 166, 255);
  font-family: 'Darker Grotesque';
  text-decoration: none;

}
a:hover {
  color: rgb(228, 228, 228);
}